
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  
}

.foot {
  background-color: aquamarine;
  min-height: 10vh;
}

Header {
  text-align: center;
}

Footer {
  text-align: center;
  background-color: antiquewhite;
}